@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply leading-[normal] m-0;
  @apply text-midnightblue-100;
  @apply scroll-smooth;
}

p, b, span {
  @apply text-dimgray;
}

*,
::before,
::after {
  border-width: 0;
}
