@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply leading-[normal] m-0;
  @apply text-midnightblue-100;
  @apply scroll-smooth;
}

p, b, span {
  @apply text-dimgray;
}
.card {
  transition: all 0.5s ease-in-out;
}

.card.opacity-0 {
  opacity: 0;
  transform: translateX(-100%);
}

.card.opacity-100 {
  opacity: 1;
  transform: translateX(0);
}

blockquote.scale-0 {
  transform: scale(0);
}

blockquote.scale-100 {
  transform: scale(1);
}

.details.translate-y-[150px] {
  transform: translateY(150px);
}

.details.translate-y-0 {
  transform: translateY(0);
}
